header{
  display: flex;
  justify-content: space-between;
  height: 75px;
  background-color: lightyellow;
  margin:10px;
}

.container{
  display: flex;
  margin: 10px;
  margin-right: 4px;
}

.article-container {
  flex: 3;
  display: flex;
  flex-direction: column; 
}

article {
  background-color: lightblue;
  padding: 20px;
  box-sizing: border-box;
  margin: 10px;
}

.header{
  background-color: azure;
  margin-top: 0px;
}

footer{
  background-color: lightsalmon;
  margin: 10px;
  margin-bottom: 0px;
}

nav{
  display: flex;
  width: 10%;
  justify-content: space-between;
  background-color: lightcoral;
  margin-top: 10px;
  margin-bottom: 10px;
}

figure{
  background-color: green;
  width: 10%;
  margin: 0%;
}

figcaption{
  background-color: gray;
}

.footerbawah{
  background-color: lightcoral;
  height: 7%;
}